InnovativeCars/force-app/main/default/flows/Post_To_Chatter_About_New_Telemetries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Inform_About_Today_Telemetries</name>
        <label>Inform About Today Telemetries</label>
        <locationX>402</locationX>
        <locationY>478</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <targetReference>Create_Log_Event</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>info_About_New_Telemetries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Specialists_Group_Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Count_Telemetries</name>
        <label>Count Telemetries</label>
        <locationX>176</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>telemetries_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Today_Telemetries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inform_About_Today_Telemetries</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Specialists_Group_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0F9090000011Qm2CAE</stringValue>
        </value>
    </constants>
    <formulas>
        <name>today_Midnight</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(TODAY())) + &quot;-&quot; + TEXT(MONTH(TODAY())) + &quot;-&quot; + TEXT(DAY(TODAY())) + &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>Post To Chatter About New Telemetries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post To Chatter About New Telemetries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Event</name>
        <label>Create Log Event</label>
        <locationX>346</locationX>
        <locationY>286</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Today_Telemetries</name>
        <label>Get Today Telemetries</label>
        <locationX>176</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Telemetries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Event</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today_Midnight</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Telemetry__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Today_Telemetries</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-18</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>info_About_New_Telemetries</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Today&apos;s telemetries count: {!telemetries_Count}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>telemetries_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
