InnovativeCars/force-app/main/default/flows/Showroom_Assignment_To_Intern_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Showroom_To_Intern</name>
        <label>Assign Showroom To Intern</label>
        <locationX>193</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>$Record.Showroom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Showroom_With_Lowest_Contact_Count.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Showroom_With_Lowest_Contact_Count.Interns__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Showroom Assignment To Intern Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Showroom Assignment To Intern Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Event</name>
        <label>Create Log Event</label>
        <locationX>501</locationX>
        <locationY>266</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Showroom_With_Lowest_Contact_Count</name>
        <label>Get Showroom With Lowest Contact Count</label>
        <locationX>184</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Showroom_To_Intern</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Event</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Showroom__c</object>
        <sortField>Interns__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>426</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Update_Showroom</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Event</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Showroom</name>
        <label>Update Showroom</label>
        <locationX>632</locationX>
        <locationY>493</locationY>
        <faultConnector>
            <targetReference>Create_Log_Event</targetReference>
        </faultConnector>
        <inputReference>Get_Showroom_With_Lowest_Contact_Count</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Showroom_With_Lowest_Contact_Count</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
